<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training.name %>
</p>

<p>
  <strong>Datefrom:</strong>
  <%= @training.datefrom %>
</p>

<p>
  <strong>Dateto:</strong>
  <%= @training.dateto %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @training.hours %>
</p>

<p>
  <strong>Role:</strong>
  <%= @training.role %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @training.venue %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @training.provider %>
</p>

<p>
  <strong>Status:</strong>
  <%= @training.status %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
